{
  "debug": false,
  "pid": null,
  "sid": null,
  "filename": ["main.", "$lang_ext"],
  "lang": "c",
  "max_time": 1000,
  "max_real_time": 2000,
  "max_time_total": 30000,
  "max_memory": 65530,
  "max_output": 10000000,
  "max_thread": 4,
  "continue_on": ["accepted", "presentation error"],
  "test_case_count": 1,
  "spj_mode": "no",
  "path": {
    "base": "/mnt/data",
    "code": ["$base", "code", "$pid", "$sid", "$filename"],
    "log": ["$temp"],
    "output": ["$base", "result", "$pid", "$sid"],
    "fs": ["$base", "fs", "$pid"],
    "stdin": ["$base", "case", "$pid"],
    "stdout": ["$stdin"],
    "temp": ["/tmp", ["judge-", "$pid", "-", "$sid"]],
    "exec": ["$temp", "main"],
    "spj": ["$base", "judge", "$pid"]
  },
  "spj": {
    "code": ["$spj", ".", "$lang_ext"],
    "target": "$spj"
  },
  "compiler": {
    "max_time": 12000,
    "max_real_time": 20000,
    "max_memory": 204800,
    "max_output": 52428800
  },
  "sys": {
    "time_system_time": false,
    "max_compiler_size": 5000,
    "max_extra_size": 10240,
    "max_fs_write_count": 20,
    "max_inline_fs_count": 20,
    "max_inline_fs_size": 1000,
    "max_inline_stdout_size": 1000
  }
}
