.vscode/

# binary

judgecore/obj
judgecore/compiler
judgecore/judgecore

# profile-case binary

profile/output
profile/syscall
profile/write
profile/tracer

# test-case binary

testcase/judge/9002
testcase/judge/9003

testcase/result/

# magic files
judgecore/conf/*.json
!judgecore/conf/default.json.sample
!judgecore/conf/lang_spec.json
