.vscode/

# binary

judgecore/compiler
judgecore/judgecore
judgecore/tracee
judgecore/tracer

# profile-case binary

profile/output
profile/syscall
profile/write
profile/tracer

# test-case binary

testcase/judge/9002
testcase/judge/9003

# magic files
judgecore/conf/*.json
!judgecore/conf/default.json
!judgecore/conf/lang_spec.json
