uname ALLOW
open CUSTOM


on_open:
  1 GREATER 1 DENY
  1 EQUAL 1 DENY
  1 LESS 1 DENY
  1 TEST 1 DENY
  1 NTEST 1 DENY

  1 MASK  
  1 SET 

  1 STARTSWITH 1 ACTION
  1 NSTARTSWITH 1 ALLOW
  1 ENDSWITH 1 ALLOW
  1 CONTAINS 1 ALLOW

  1 PREPEND 1 /tmp/
  1 APPEND 2 /tmp/
  1 REPLACE 2 /tmp/

NEST RULE