uname ALLOW
open CUSTOM


on_open:
  1 GREATER 1 ACTION
  1 EQUAL 1 ACTION
  1 LESS 1 ACTION
  1 TEST 1 ACTION
  1 NTEST 1 ACTION

  1 MASK NUMBER
  1 SET NUMBER

  1 STARTSWITH 1 ACTION
  1 NSTARTSWITH 1 ACTION
  1 ENDSWITH 1 ACTION
  1 CONTAINS 1 ACTION

  1 PREPEND 1 STRING
  1 APPEND 2 STRING
  1 REPLACE 2 STRING

NEST RULE